<ul class="list-unstyled">
  <li class="media mb-3">
    <div class="media-body">
      <table class="table">
        <% records.each do |record| %>
          <tr>
            <%= link_to record_path(record.id)do %>
              <%= image_tag record.photo.thumb200.url %>
            <% end %>
            <div class="img-responsive thumbnail　aligncenter size-full wp-image-425" data-toggle="modal" data-target="image_Modal" style="cursor:pointer">
              <%= image_tag record.photo.thumb200.url, class: "img-responsive thumbnail　aligncenter size-full wp-image-425", style: "cursor:pointer" %>
            </div>
            <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
              <div class="modal-dialog modal-lg modal-middle">
                <div class="modal-content">
                  <div class="modal-body">
                    <%= image_tag record.photo.thumb200.url %>
                  </div>
                  <div class="modal-img_footer">
                    <p>モーダル商品</p>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        <% end %>
      </table>
    </div>
  </li>
  <%= paginate records %>
</ul>
