<ul class="list-unstyled">
  <li class="media mb-3">
    <div class="media-body">
      <table class="table">
        <% records.each do |record| %>
          <tr>
            <%= link_to record_path(record.id)do %>
              <%= image_tag record.photo.thumb200.url %>
            <% end %>
            <%= image_tag record.photo.thumb200.url, class: "img-responsive thumbnail　aligncenter size-full wp-image-425", data: {toggle: "modal", target: "#image_Modal"}, style: "cursor:pointer" %>
            <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-content">
                <div class="modal-body">
                  <%= image_tag record.photo.thumb200.url, alt: "baby-1151351_1920", width: "500", height: "300", class: "aligncenter size-full wp-image-425", alt: "baby-1151351_1920" %>
                </div>
                <div class="modal-img_footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </tr>
        <% end %>
      </table>
    </div>
  </li>
  <%= paginate records %>
</ul>
