<div class="container">
  <% records.each do |record| %>
    <div class="row">
      <div class="col-md-4  img-hidden media-body">
        <div class="field">
          <%= render 'users/icon' %>
        </div>
      </div>
      <div class="col-md-8">
        <span class="text-muted">
          <%= link_to record.title, record_path(record.id) %>
        </span>
        <div class="field">
          <p>
            <%= link_to record_path(record.id)do %>
              <%= image_tag record.photo.thumb200.url%>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate records %>
</div>
