<div class="row">
  <aside class="col-12">
    <ul class="list-unstyled">
      <li class="media mb-3">
        <div class="media-body">
          <table class="table">
            <div class="container">
              <% records.each do |record| %>
                <div class="row card col-12 col-xs-6">
                  <div class="col-12  img-hidden media-body">
                    <div class="field">
                      <div class="card_profile">
                        <% if record.user.image? %>
                          <%= image_tag record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile"%>
                        <% else %>
                          <%= image_tag("/images/default.jpg", :alt => "avatar", :class => "icon_profile")%>
                        <% end %>
                        <div class="card-title-name text-center">
                          <%= link_to record.user.name, user_path(record.user) %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 card-body">
                    <h4 class="text-muted card-title-title col-md-8">
                      <%= record.title %>
                    </h4>
                    <div class="field">
                      <%= link_to record_path(record.id)do %>
                        <%= image_tag record.photo.thumb200.url, :class => "timeline_photo col-md-8" %>
                      <% end %>
                    </div>
                  </div>
                  <%= render 'likes/like_form', record: record %>
                </div>
              <% end %>
              <%= paginate records %>
            </div>
          </table>
        </div>
      </li>
    </ul>
  </aside>
</div>
