<div class="container">
  <% records.each do |record| %>
    <div class="row">
      <div class="col-md-4  img-hidden media-body">
        <div class="field">
          <div class="card_profile">
            <div class="card-header">
                <% if record.user.image? %>
                  <%= image_tag record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile" %>
                <% else %>
                  <%= image_tag("/assets/default.jpg", :alt => "avatar", :class => "icon_profile")%>
                <% end %>
            </div>
            <div class="card-title text-center">
              <%= link_to record.user.name, user_path(record.user) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <span class="text-muted">
          <%= record.title %>
        </span>
        <div class="field">
          <p>
            <%= image_tag record.photo.thumb200.url%>
          </p>
        </div>
      </div>
      <% if current_user.already_liked?(record) %>
        <%= link_to  record_like_path(record, current_user), method: :delete do %>
        <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to record_likes_path(record), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= paginate records %>
</div>
