<!-- 投稿詳細画面本体 -->
<div class="col-12 card-body">
  <h4 class="text-muted card-title-title col-md-8">
    <%= @record.title %>
  </h4>
  <div class="field">
    <%= image_tag @record.photo.thumb200.url, class: "img-responsive thumbnail　aligncenter size-full wp-image-425 timeline_photo col-md-8", data: {toggle: "modal", target: "#image_Modal"}, style: "cursor:pointer" %>
    <!-- モーダル-->
    <%= render 'records/modal'%>
  </div
  <div class="card-footer">
    <%= @record.content %>
  </div>
</div>
<%= link_to record_path(@record), method: :delete do %>
  <i class="fas fa-trash-alt"></i>
<% end %>
