<table>
  <th>
    <div class="card col-md-4">
      <div class="card_profile">
        <div class="card-header">
            <% if @record.user.image? %>
              <%= image_tag @record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile" %>
            <% else %>
              <%= image_tag("/assets/default.jpg", :alt => "avatar", :class => "icon_profile")%>
            <% end %>
        </div>
        <div class="card-title text-center">
          <%= link_to @record.user.name, user_path(@record.user) %>
        </div>
      </div>
      <div><%= @record.title %></div>
    </div>
  </th>
  <th>
    <div class="card col-md-8">
      <%= image_tag @record.photo.thumb400.url %>
      <div class="card-body">
        <p class="card-text"><%= @record.content %></p>
      </div>
    </div>
  </th>
</table>
<%= link_to '投稿を削除する', record_path(@record), method: :delete %>

<div class="row card col-12">
  <div class="col-12  img-hidden media-body">
    <div class="field">
      <div class="card_profile">
        <% if @record.user.image? %>
          <%= image_tag @record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile"%>
        <% else %>
          <%= image_tag("/assets/default.jpg", :alt => "avatar", :class => "icon_profile")%>
        <% end %>
        <div class="card-title-name text-center">
          <%= link_to @record.user.name, user_path(@record.user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 card-body">
    <h4 class="text-muted card-title-title col-md-8">
      <%= @record.title %>
    </h4>
    <div class="field">
      <%= image_tag @record.photo.thumb200.url, :class => "timeline_photo col-md-8" %>
    </div
    <div class="card-footer">
      <%= @record.content %>
    </div>
  </div>
  <%= link_to record_path(@record), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
