<div class="row card col-12">
  <div class="col-12  img-hidden media-body">
    <div class="field">
      <div class="card_profile">
        <% if @record.user.image? %>
          <%= image_tag @record.user.image.thumb.url, :alt => "avatar", :class => "icon_profile"%>
        <% else %>
          <%= image_tag("/images/default.jpg", :alt => "avatar", :class => "icon_profile")%>
        <% end %>
        <div class="card-title-name text-center">
          <%= link_to @record.user.name, user_path(@record.user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 card-body">
    <h4 class="text-muted card-title-title col-md-8">
      <%= @record.title %>
    </h4>
    <div class="field">
      <%= image_tag @record.photo.thumb200.url, class: "img-responsive thumbnail　aligncenter size-full wp-image-425 timeline_photo col-md-8", data: {toggle: "modal", target: "#image_Modal"}, style: "cursor:pointer" %>
      <div class="modal fade" id="image_Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <!-- モーダルのdialogー-->
        <div class="modal-dialog modal-lg modal-middle">
          <div class="modal-content card">
            <div class="modal-body">
              <%= image_tag @record.photo.thumb200.url, alt: "baby-1151351_1920", width: "400", height: "300", class: "aligncenter size-full wp-image-425", alt: "baby-1151351_1920" %>
            </div>
              <button type="button" class="btn btn-success" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div
    <div class="card-footer">
      <%= @record.content %>
    </div>
  </div>
  <%= link_to record_path(@record), method: :delete do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
